@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@import "./fonts.css";
@import "./global.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-primary: "Geist", sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --font-custom: 'Helvetica', sans-serif;

    /*colors*/
    --color-brand-pirmary: #2160C9;
    --color-brand-solid: #2469DD;
    --color-brand-secondary: #2160C9;
    --color-brand-white: #E9F0FC;

    /*colors for light mode*/
    --color-primary-light: #0F172A;
    --color-secondary-light: #F1F5F9;

    /*colors for dark mode*/
    --color-primary-dark: #020617;
    --color-secondary-dark: #0F172A;

    --color-bg-primary: #020617;
    --color-bg-brand-primary: #2469DD;
    --color-bg-secondary_subtle: #F1F5F9;
    --color-bg-secondary-light: #F8FAFC;

    /*text colors*/
    --color-text-primary-light: #CBD5E1;
    --color-text-secondary-light: #334155;
    --color-text-brand-tertiary: #2160C9;
    --color-text-brand-tertiary-alt: #E9F0FC;

    --color-text-primary-dark: #F8FAFC;
    --color-text-secondary-dark: #CBD5E1;
    --color-text-quaternary-light: #64748B;

    --color-text-placeholder: #1E293B;
    --color-text-placeholdder-light: #64748B;

    --color-fg-gray: #475569;
    --color-fg-brand-primary-alt-light: #2160C9;
    --color-fg-brand-primary-alt-dark: #6C9BE8 ;

    /*border*/
    --color-border-primary: #CBD5E1;
    --color-border-secondary: #E2E8F0;
    --color-border-tertiary: #F1F5F9;


    /*spacing*/
    --spacing-base: 1rem ;
    --spacing-xx3: 0.375rem;
    --spaceing-xs: 0.5rem ;
    --spacing-sm: 0.75rem ;
    --spacing-md: 1rem ;
    --spacing-lg: 1.25rem;
    --spacing-xl: 1rem ;
    --spacing-3xl: 1.5rem ;
}

